<div class="row">
    <div class="col-12">
        <button class="btn btn-primary mt-4 mb-4" (click)="linkToItem()">Новый студент</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>Дата рождения</th>
                <th>Группа</th>
                <th>Направление подготовки</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students" (click)="linkToItem(student.id)">
                <td>{{student.id}}</td>
                <td>{{student.surname}}</td>
                <td>{{student.name}}</td>
                <td>{{student.midname}}</td>
                <td>{{student.phone}}</td>
                <td>{{student.mail}}</td>
                <td>{{student.birthdate}}</td>
                <td>{{student.group}}</td>
                <td>{{student.speciality}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>